@page
@model AboutModel
@{
    ViewData["Title"] = "About this website";
}
<h1>@ViewData["Title"]</h1>

<p>This project utilizes ASP.NET CORE Razor Pages.
    <br/>
   Created by Brendan O'Neill, with the guidance from  <a href="https://www.youtube.com/c/tutorialsEU/videos">tutorialsEU</a>.</p>
